 body {
    background: linear-gradient(to left, cyan, purple);
} 

html {
    font-size: 1vw;
    font-family: Lucida Console, monospace;
}

h1 {
    font-size: 6rem;
    font-family: "Rubik Burned", sans-serif;
}

h2 {
    font-size: 3rem;
    text-decoration-line: line-through;
    text-decoration-color: rebeccapurple;
    text-decoration-style: wavy;
}

section {
    font-size: 0.5rem;
    font-family: Brush Script MT;
}

a{
    text-decoration: none;
}

h3 {
    font-size: 3rem;
    color: hsl(0, 100%, 50%, 0.5);
    text-transform: capitalize;
    font-weight: 400;
    text-shadow: 5px 5px hsl(180, 100%, 50%, 0.5), 2px 2px hsl (60, 100%, 50%, 0.5)
    /* text-shadow: 5px 5px 5px magenta ; */
}