
h1 {
    background-color: lavender;
    width: 50%;
    font-size: 5rem;
    border-bottom: 10px solid blue;
    margin: 1rem auto;
}

h2 {
    background-color: lightpink;
    width: 50%;
    margin: none;
}

img {
    /* width: 300px;
    height: 300px; */
    width: 40%;
    max-width: 300px;
    /* border-color: purple;
    border-width: 10px;
    border-style: dotted dashed solid none; */

    border: 10px solid pink;
    border-left-width: 5px;

}

p {
    width: 50%;
    min-width: 500px;
}

section {
    width: 200px;
    border: 1px solid black;
    padding: 1em;
}

button {
    padding: 0.2em 0.7em;
}

#container {
    border: 1px solid black;
    width: 500px;
    margin: auto;
}

#container .item {
    height: 100px;
    border: 10px solid orangered;
    padding: 5px;
    margin: 1em;
    box-sizing: border-box;
}

#container .item:hover {
    border: 10px solid olive;
    outline: 10px solid lightblue;
}

#container .item:nth-of-type(2) {
    margin-left: 2em;

}

p a {
    margin: 1em;
    font-size: 25px;
    background-color: aqua;
}

input {
    /* outline: none; */
    color: aliceblue;
}

p {
    font-size: 2em;
    background-image: url(https://images.unsplash.com/photo-1770287691979-6b8ec41f5331?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: contain;
    background-color: blueviolet;
    /* background-position: center; */
    background-repeat: no-repeat;
}

/* https://images.unsplash.com/photo-1770287691979-6b8ec41f5331?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */